.o_main_navbar {
    color: rgb(255,255,255);
    background-color: rgb(190, 190, 190);

    > .o_menu_brand{
        color: rgb(255,255,255);
    }

    > ul {
        > li {
            > a, > label {
                color: rgb(255,255,255);
            }

            &.o_extra_menu_items {
                &.show > ul {
                    > li {
                        > a {
                            color: rgb(90,90,90);
                        }
                    }
                }
            }
        }
    }

    .dropdown-menu.show {
        background-color: rgb(150, 150, 150);
        
        > a {
            color: rgb(255,255,255);
        }
    }
}