.list-tasks{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.list {
    width: 100%;
}

.card {
    width: 50%;
    height: 12.5em;
}