.list {
  text-align: left;
  max-width: 900px;
  margin: auto;
}

.submit-form {
  max-width: 450px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.task-logo {
  width: 2em;
}

.task-logo img {
  width: 100%;
  border-radius: 50%;
}